body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  background: #f2f2f2;
}

h1{
 font-family: "PT Sans", Arial, sans-serif;
 font-size: 21px; 
 font-weight:bold;

}

.features-items h2 {

}