body {
  font-family: "PT Sans", sans-serif, Arial;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  background: #f2f2f2;
}

h1{
 font-family: "PT Sans", sans-serif, Arial;
 font-size: 21px;
 font-size:21px;
 font-weight:bolder;

}

.features-items h2 {

}